<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.741282793927-cg37c3ps9bsbrteg3q1rntss2e2fa81d</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>msauth.com.naamiru.EagleViewer</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>741282793927-cg37c3ps9bsbrteg3q1rntss2e2fa81d.apps.googleusercontent.com</string>
	<key>OneDriveClientID</key>
	<string>YOUR_ONEDRIVE_CLIENT_ID</string>
</dict>
</plist>
